Django==3.1.2
psycopg2==2.8.6
django-cors-headers
django-allauth
djangorestframework
sqlparse==0.4.1
pillow
django-filter
django-mptt
dj_database_url
gunicorn
whitenoise
python-dotenv
channels
pika
./django-rest-auth
./django-rest-framework-jwt